body {
    background: #2a2a2a;
    color: #aaa;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

.discord-title {
    text-align: left;
    height: 32px;
    line-height: 32px!important;
    background-color: #333;
    border: solid 1px #222!important;
    padding-left: 10px!important;
    font-weight: bold!important;
    font-size: 1.17em!important;
}

.title-text {
    float: left;
}
.invite-text {
    float: right;
    color: #e9e9e9;
    padding-right: 8px!important;
}
.invite-text a {
    text-decoration: none;
    color: inherit;
    font-size: 60%!important;
}

.invite-button {
    padding: 3px 5px!important;
    background: #2461b2;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #555!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.invite-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
}
.invite-button:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top, #575757, #888);
}

.invite-button {
align-content:normal;align-items:center;align-self:auto;alignment-baseline:auto;animation-delay:0s;animation-direction:normal;animation-duration:0s;animation-fill-mode:none;animation-iteration-count:1;animation-name:none;animation-play-state:running;animation-timing-function:ease;appearance:none;backdrop-filter:none;backface-visibility:visible;background-attachment:scroll;background-blend-mode:normal;background-clip:padding-box;background-color:rgba(255, 255, 255, 0.1);background-image:none;background-origin:padding-box;background-position:0% 0%;background-repeat:repeat;background-size:auto;baseline-shift:0px;block-size:30px;border-block-end-color:rgb(33, 35, 37);border-block-end-style:solid;border-block-end-width:1.25px;border-block-start-color:rgb(33, 35, 37);border-block-start-style:solid;border-block-start-width:1.25px;border-bottom-color:rgb(33, 35, 37);border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-bottom-style:solid;border-bottom-width:1.25px;border-collapse:separate;border-image-outset:0;border-image-repeat:stretch;border-image-slice:100%;border-image-source:none;border-image-width:1;border-inline-end-color:rgb(33, 35, 37);border-inline-end-style:solid;border-inline-end-width:1.25px;border-inline-start-color:rgb(33, 35, 37);border-inline-start-style:solid;border-inline-start-width:1.25px;border-left-color:rgb(33, 35, 37);border-left-style:solid;border-left-width:1.25px;border-right-color:rgb(33, 35, 37);border-right-style:solid;border-right-width:1.25px;border-top-color:rgb(33, 35, 37);border-top-left-radius:4px;border-top-right-radius:4px;border-top-style:solid;border-top-width:1.25px;bottom:auto;box-shadow:rgba(255, 255, 255, 0.04) 0px 1px 0px 0px inset;box-sizing:border-box;break-after:auto;break-before:auto;break-inside:auto;buffered-rendering:auto;caption-side:top;caret-color:rgb(255, 255, 255);clear:none;clip:auto;clip-path:none;clip-rule:nonzero;color:rgb(255, 255, 255);color-interpolation:srgb;color-interpolation-filters:linearrgb;color-rendering:auto;column-count:auto;column-gap:normal;column-rule-color:rgb(255, 255, 255);column-rule-style:none;column-rule-width:0px;column-span:none;column-width:auto;content:normal;cursor:pointer;cx:0px;cy:0px;d:none;direction:ltr;display:flex;dominant-baseline:auto;empty-cells:show;fill:rgb(0, 0, 0);fill-opacity:1;fill-rule:nonzero;filter:none;flex-basis:auto;flex-direction:row;flex-grow:0;flex-shrink:0;flex-wrap:nowrap;float:none;flood-color:rgb(0, 0, 0);flood-opacity:1;font-family:Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;font-kerning:auto;font-optical-sizing:auto;font-size:14px;font-stretch:100%;font-style:normal;font-variant:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-weight:400;grid-auto-columns:auto;grid-auto-flow:row;grid-auto-rows:auto;grid-column-end:auto;grid-column-start:auto;grid-row-end:auto;grid-row-start:auto;grid-template-areas:none;grid-template-columns:none;grid-template-rows:none;height:30px;hyphens:manual;image-orientation:from-image;image-rendering:auto;inline-size:120px;isolation:auto;justify-content:center;justify-items:normal;justify-self:auto;left:auto;letter-spacing:normal;lighting-color:rgb(255, 255, 255);line-break:auto;line-height:14px;list-style-image:none;list-style-position:outside;list-style-type:disc;margin-block-end:0px;margin-block-start:0px;margin-bottom:0px;margin-inline-end:0px;margin-inline-start:0px;margin-left:0px;margin-right:0px;margin-top:0px;marker-end:none;marker-mid:none;marker-start:none;mask:none;mask-type:luminance;max-block-size:none;max-height:none;max-inline-size:none;max-width:none;min-block-size:auto;min-height:auto;min-inline-size:auto;min-width:auto;mix-blend-mode:normal;object-fit:fill;object-position:50% 50%;offset-distance:0px;offset-path:none;offset-rotate:auto 0deg;opacity:1;order:0;orphans:2;outline-color:rgb(255, 255, 255);outline-offset:0px;outline-style:none;outline-width:0px;overflow-anchor:auto;overflow-wrap:normal;overflow-x:visible;overflow-y:visible;overscroll-behavior-block:auto;overscroll-behavior-inline:auto;padding-block-end:0px;padding-block-start:0px;padding-bottom:0px;padding-inline-end:0px;padding-inline-start:0px;padding-left:0px;padding-right:0px;padding-top:0px;paint-order:normal;perspective:none;perspective-origin:60px 15px;pointer-events:auto;position:static;r:0px;resize:none;right:auto;row-gap:normal;ruby-position:over;rx:auto;ry:auto;scroll-behavior:auto;scroll-margin-block-end:0px;scroll-margin-block-start:0px;scroll-margin-inline-end:0px;scroll-margin-inline-start:0px;scroll-padding-block-end:auto;scroll-padding-block-start:auto;scroll-padding-inline-end:auto;scroll-padding-inline-start:auto;shape-image-threshold:0;shape-margin:0px;shape-outside:none;shape-rendering:auto;speak:normal;stop-color:rgb(0, 0, 0);stop-opacity:1;stroke:none;stroke-dasharray:none;stroke-dashoffset:0px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-width:1px;tab-size:8;table-layout:auto;text-align:start;text-align-last:auto;text-anchor:start;text-decoration:none solid rgb(255, 255, 255);text-decoration-color:rgb(255, 255, 255);text-decoration-line:none;text-decoration-skip-ink:auto;text-decoration-style:solid;text-indent:0px;text-overflow:clip;text-rendering:auto;text-shadow:none;text-size-adjust:auto;text-transform:none;text-underline-position:auto;top:auto;touch-action:auto;transform:none;transform-origin:60px 15px;transform-style:flat;transition-delay:0s;transition-duration:0.25s;transition-property:opacity;transition-timing-function:ease-out;unicode-bidi:normal;user-select:auto;vector-effect:none;vertical-align:baseline;visibility:visible;white-space:normal;widows:2;width:120px;will-change:auto;word-break:normal;word-spacing:0px;writing-mode:horizontal-tb;x:0px;y:0px;z-index:auto;zoom:1;-webkit-app-region:none;-webkit-border-horizontal-spacing:0px;-webkit-border-image:none;-webkit-border-vertical-spacing:0px;-webkit-box-align:center;-webkit-box-decoration-break:slice;-webkit-box-direction:normal;-webkit-box-flex:0;-webkit-box-ordinal-group:1;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-reflect:none;-webkit-font-smoothing:auto;-webkit-highlight:none;-webkit-hyphenate-character:auto;-webkit-line-break:auto;-webkit-line-clamp:none;-webkit-locale:auto;-webkit-mask-box-image:none;-webkit-mask-box-image-outset:0;-webkit-mask-box-image-repeat:stretch;-webkit-mask-box-image-slice:0 fill;-webkit-mask-box-image-source:none;-webkit-mask-box-image-width:auto;-webkit-mask-clip:border-box;-webkit-mask-composite:source-over;-webkit-mask-image:none;-webkit-mask-origin:border-box;-webkit-mask-position:0% 0%;-webkit-mask-repeat:repeat;-webkit-mask-size:auto;-webkit-print-color-adjust:economy;-webkit-rtl-ordering:logical;-webkit-tap-highlight-color:rgba(0, 0, 0, 0.18);-webkit-text-combine:none;-webkit-text-decorations-in-effect:none;-webkit-text-emphasis-color:rgb(255, 255, 255);-webkit-text-emphasis-position:over right;-webkit-text-emphasis-style:none;-webkit-text-fill-color:rgb(255, 255, 255);-webkit-text-orientation:vertical-right;-webkit-text-security:none;-webkit-text-stroke-color:rgb(255, 255, 255);-webkit-text-stroke-width:0px;-webkit-user-drag:auto;-webkit-user-modify:read-only;-webkit-writing-mode:horizontal-tb;
}



.discord-title div,
.discord-title span,
.discord-title applet,
.discord-title object,
.discord-title iframe,
.discord-title h1,
.discord-title h2,
.discord-title h3,
.discord-title h4,
.discord-title h5,
.discord-title h6,
.discord-title p,
.discord-title blockquote,
.discord-title pre,
.discord-title a,
.discord-title abbr,
.discord-title acronym,
.discord-title address,
.discord-title big,
.discord-title cite,
.discord-title code,
.discord-title del,
.discord-title dfn,
.discord-title em,
.discord-title img,
.discord-title ins,
.discord-title kbd,
.discord-title q,
.discord-title s,
.discord-title samp,
.discord-title small,
.discord-title strike,
.discord-title strong,
.discord-title sub,
.discord-title sup,
.discord-title tt,
.discord-title var,
.discord-title b,
.discord-title u,
.discord-title i,
.discord-title center,
.discord-title dl,
.discord-title dt,
.discord-title dd,
.discord-title ol,
.discord-title ul,
.discord-title li,
.discord-title fieldset,
.discord-title form,
.discord-title label,
.discord-title legend,
.discord-title table,
.discord-title caption,
.discord-title tbody,
.discord-title tfoot,
.discord-title thead,
.discord-title tr,
.discord-title th,
.discord-title td,
.discord-title article,
.discord-title aside,
.discord-title canvas,
.discord-title details,
.discord-title embed,
.discord-title figure,
.discord-title figcaption,
.discord-title footer,
.discord-title header,
.discord-title hgroup,
.discord-title menu,
.discord-title nav,
.discord-title output,
.discord-title ruby,
.discord-title section,
.discord-title summary,
.discord-title time,
.discord-title mark,
.discord-title audio,
.discord-title video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle
}
.discord-title article,
.discord-title aside,
.discord-title details,
.discord-title figcaption,
.discord-title figure,
.discord-title footer,
.discord-title header,
.discord-title hgroup,
.discord-title menu,
.discord-title nav,
.discord-title section {
    display: block
}
.discord-title body {
    line-height: 1
}
.discord-title ol,
.discord-title ul {
    list-style: none
}
.discord-title blockquote,
.discord-title q {
    quotes: none
}
.discord-title blockquote:before,
.discord-title blockquote:after,
.discord-title q:before,
.discord-title q:after {
    content: '';
    content: none
}
.discord-title table {
    border-collapse: collapse;
    border-spacing: 0
}

.discord-channel {
    font-weight: bold!important;
    list-style-type: none!important;
    padding-left: 10px!important;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.discord-userlist {
    padding-left: 14px!important;
    list-style-type: none!important;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.discord-user {
    position: relative;
    white-space: nowrap;
    overflow: hidden
}
.discord-user span {
    font-size: .8em;
    opacity: .5
}

.discord-user-status {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    border: solid thin #fff!important;
    border-color: #3a3a3a!important;
    top: 14px;
    left: 14px
}
.discord-online {
    background-color: #43b581
}
.discord-idle {
    background-color: #faa61a
}
.discord-avatar {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: solid 2px #fff!important;
    border-color: #3a3a3a!important;
    display: inline;
    margin-right: 5px!important;
    vertical-align: middle
}
.discord-allusers-toggle {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.discord-users-online {
    font-size: .75em!important;
    margin: 10px 10px 0 0!important;
    text-align: right
}
.discord-join {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px!important;
    color: white;
    background-color: #2461b2;
    position: fixed;
    bottom: 0;
}
.discord-join a {
    color: #fff;
    text-decoration: none
}
.discord-join:hover {
    background-color: #1b4a88
}
